nav {
	background: black;
	padding: 1rem 5rem;
	display: flex;
	justify-content: space-between;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: rgb(236, 235, 235);
	font-family: "Poppins", sans-serif;
}
/* Add a hover effect if you want */
.fa-brands:hover {
	opacity: 0.7;
}
.board {
	position: absolute;
	top: 350px;
	left: 50%;
	width: 400px;
	transform: translate(-50%, -30%);
}

.button-zone {
	position: absolute;
	top: 27%;
	right: 36%;
}
.info {
	background: rgb(133, 133, 133);
	border-radius: 1rem;
	padding: 2rem;
	width: 400px;
	margin: auto;
}
.move-history {
	padding: 5px;
	width: 100%;
	height: 50px;
	overflow-y: scroll;
}
.start-btn {
	display: inline-block;
	padding: 1.2rem 1rem;
	font-size: 1.5rem;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: white;
	background-color: #4caf50;
	border: none;
	border-radius: 5px;
	box-shadow: 0 9px #999;
	font-weight: 600;
}

.start-btn:hover {
	background-color: #3e8e41;
}
.start-btn:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
.fa-solid {
	font-size: 20px;
	color: rgb(0, 0, 0);
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgb(255, 255, 255);
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(33, 33, 33);
	border-radius: 10px;
}
.container {
	display: block;
	position: absolute;
	text-align: center;
	top: 300px;
	right: 200px;
}
